{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <p>O World Wide Web Consortium (W3C) é a principal organização de padronização da World Wide Web. Consiste em um consórcio internacional com 450 membros,[1] agrega empresas, órgãos governamentais e organizações independentes com a finalidade de estabelecer padrões para a criação e a interpretação de conteúdos para a Web.

        Foi fundado por Tim Berners-Lee em 1994[2] para levar a Web ao seu potencial máximo, por meio do desenvolvimento de protocolos comuns e fóruns abertos que promovam a sua evolução e assegurem a sua interoperabilidade. Sites desenvolvidos segundo esses padrões podem ser acessados e visualizados por qualquer pessoa ou tecnologia, independente dos hardware ou software utilizados, como celulares (em Portugal, telemóveis) e PDAs, de maneira rápida e compatível com os novos padrões e tecnologias que possam surgir com a evolução da internet.</p>
  </div>
{% endblock %}


